
Money Game.xcodeproj/xcuserdata/iMac.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Money Game.xcodeproj/xcuserdata/iMac.xcuserdatad/xcschemes/Money Game.xcscheme

Money Game.xcodeproj/xcuserdata/iMac.xcuserdatad/xcschemes/xcschememanagement.plist
